/* *{
    font-family: system-ui, sans-serif;
} */
.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #E2E2E2;
    padding-bottom: 16px;
    padding-top: 7px
}

.page-header h1 {
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679B5
}

.page-header h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: 400;
    color: #8089A0
}

.breadcrumb {
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    border-width: 0 0 1px;
    position: relative;
    z-index: auto;
    border-bottom: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    min-height: 41px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    border-radius: 0;
    
}

.breadcrumb a {
    text-decoration: none;
}
form{
    font-size: 12px;
}
label{
    color: #393939;
    font-weight: 400;
    font-size: 14px;
    /* font-weight: 00; */
    /* font: 14px 'Open Sans'; */
}
.btn-info, .btn-info.focus, .btn-info:focus {
    background-color: #003974!important;
    border-color: #003974;
}
.btn {
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: none!important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: background-color .15s,border-color .15s,opacity .15s;
    -o-transition: background-color .15s,border-color .15s,opacity .15s;
    transition: background-color .15s,border-color .15s,opacity .15s;
    vertical-align: middle;
    margin: 0;
    position: relative;
}
/* .breadcrumb, .breadcrumb>li>a, .btn {
    display: inline-block;
} */
.btn, .dropdown-colorpicker a {
    cursor: pointer;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    /* line-height: 1.42857143; */
    /* border-radius: 4px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .btn, .btn-default, .btn-default.focus, .btn-default:focus, .btn.focus, .btn:focus {
    background-color: #ABBAC3!important;
    border-color: #ABBAC3;
} */
.canc{
    background-color: #ABBAC3!important;
    border-color: #ABBAC3;
}


.form-control , .form-select {
    font-weight: 400;
    font-size: 13px; 
    /* line-height: 1; */
}


.form-select option {
    margin: 15px; /* Adjust the margin as needed to increase the spacing between options */
    padding: 5px; /* Adjust the padding as needed to increase the spacing between options */
    /* height: 46px;
    line-height: 1.3333333  ;
    padding: 6px 12px; */
}

/* Increase the text size for select fields */
.select {
    font-weight: 400;
    font-size: 15px; 
}



.btn-info:hover,.btn-info:active:hover,.btn-info:focus:active,.btn-info:focus:hover,.btn-info:hover,.open>.btn-info.dropdown-toggle,.open>.btn-info.dropdown-toggle.focus,.open>.btn-info.dropdown-toggle:active,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle:hover {
    background-color: #4F99C6!important;
    border-color: #003974;
    border: 5px solid #003974 ;

}
.plus{
    color: #fff;
    background-color: #003974;
    border-color: #46b8da;
}
