<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Settings</a></li>
          <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>
      </nav>
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="page-header">
              <h1>
                Employee
              </h1>
            </div>

            <div>
              <button *ngIf="insertemployee" type="button" routerLink="/set/add-employee" class="btn btn-info mb-2" style="float: right;">
                Add Employee</button>
            </div>
          </div>
        </div>
        <div class="container  pb-2" style="border: 1px solid #8b98a1;">


            <form [formGroup]="employeeForm" class=" col-md-12 col-sm-12 col-xs-12 mt-5">
              <div class="row">
                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0">
                  <label for="location">Select Location :</label>
                  <select formControlName="location" class="form-select">
                      <option value="" selected>----------- Select Location ----------</option>
                      <option *ngFor="let branch of branches" [value]="branch.branchName">{{ branch.branchName }}
                      </option>
                  </select>
                </div>

              

                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                  <label for="maindepartment">Select Main Department :</label>
                  <select formControlName="maindepartment" class="form-select">
                      <option value="" selected>-- Select Main Department --</option>
                      <option *ngFor="let data of mainDeps" [value]="data.mainDepName">{{ data.mainDepName }}
                      </option>
                  </select> </div>

                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                 
                    <label for="department">Select Department :</label>
                    <select formControlName="department" class="form-select">
                        <option value="" selected>---- Select Department ----</option>
                        <option *ngFor="let data of deps" [value]="data.departmentName">{{ data.departmentName }}
                        </option>
                    </select>
                 
                 </div>

                <div class="text-end" >
                  <button type="button" class="btn btn-info  m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i>
                    Submit</button>
              
                  <button type="reset" class="btn canc m-lg-3 m-4">
                      <i class="ace-icon fa fa-undo bigger-110"></i>
                      Reset
                  </button>
              </div>

              </div>
              
               
            
            </form>


        </div>

        <div id="branch_datatable_wrapper" class="dataTables_wrapper no-footer mt-3">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <div class="dataTables_length" id="branch_datatable_length">
                <p>Show
                  <select name="branch_datatable_length" (ngModelChange)="refreshCountries()" [(ngModel)]="pageSize"
                    aria-controls="branch_datatable">
                    <!-- [(ngModel)]="resultsPerPage" -->
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="dataTables_filter" id="branch_datatable_filter">
                <p>Search:
                  <input type="text" [(ngModel)]="SearchText" (input)="applyFilter()" placeholder=""
                    aria-controls="branch_datatable">
                </p>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <tr>
                <th>Sr. No.</th>
                <th>Emp Code</th>
                <th>Employee Name</th>
                <th>Contact No.</th>
                <th>Branch</th>
                <th>Department</th>
                <th>Role</th>
                <th *ngIf="view || updateemployee || deleteemployee">Action</th>
  
              </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of EmployeesList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">
              <td>{{index+1}}</td>
            <td>{{data.empCode}}</td>
            <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
            <td>{{data.contactNo}}</td>
            <td>{{data.branchName}}</td>
            <td>{{data.mainDepName}} - {{data.depName}}</td>
            <td>{{data.roleName}}</td>
              <td *ngIf="view || updateemployee || deleteemployee">

                <button *ngIf="view" class="btn btn-xs" style="font-size: 13px; background-color:#003974!important; color: white;"
                  data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="ShowDetails(data)" >
                  <!-- (click)="showDetails(data)" -->
                  <i class="ace-icon fa fa-info bigger-120"></i>
                </button>&nbsp;&nbsp;
                

                <button *ngIf="updateemployee" class="btn btn-xs" style="font-size: 13px; background-color:#003974!important; color: white;"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ShowDetails(data)" >
                  <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>&nbsp;&nbsp;

                

                <button *ngIf="deleteemployee" class="btn btn-xs" style=" font-size: 13px; background-color:#DC3545!important; color: white;"
                  (click)="delete(data.empId)">
                
                  <i class="fa-solid fa-trash-can"></i>
                </button>



                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="row col-12 text-center">
                        <a class="navbar-brand " href="#">
                          <img src="assets\download.jfif" width="100" style="border-radius: 50%;">
                          <button class="btn"
                            style=" font-size: 13px; background-color:#DC3545!important; color: white;"
                            (click)="deletePhoto()">
                           
                            <i class="fa-solid fa-trash-can"></i>
                          </button>
                        </a>


                      </div>

                      <div class="modal-body">
                        <table class="table table-bordered">
                          <tr
                            *ngFor="let data of dataarray  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">

                          <tr>
                            <th style="color: #393939;width: 30%;">Employee Code</th>
                           
                            <td>{{ selecteddata?.empCode }}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Employee Full Name</th>
                            <td>{{selecteddata?.firstName}} {{selecteddata?.middleName}} {{selecteddata?.lastName}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Date Of Birth</th>
                            <td>{{selecteddata?.dob}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Joining Date.</th>
                            <td>{{selecteddata?.joiningDate}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Contact No.</th>
                            <td>{{selecteddata?.contactNo}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">User Name</th>
                            <td>{{selecteddata?.userName}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Profile User Id.</th>
                            <td>{{selecteddata?.proUserId}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Branch</th>
                            <td>{{selecteddata?.branchName}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Department</th>
                            <td>{{selecteddata?.depName}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">RM Code</th>
                            <td>{{selecteddata?.rmCode}}</td>
                          </tr>

                        </table>



                      </div>

                    </div>
                  </div>
                </div> 


             

                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     
                      <form [formGroup]="employeeForm1" class=" col-md-12 col-sm-12 col-xs-12 mt-2">
                        <div class="container">
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Emp Id: *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="empId" [(ngModel)]="employee.empId" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Employee Id: *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="employeeId" [(ngModel)]="employee.empCode" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">First Name:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="firstName" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Middle Name: *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="middleName" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Last Name: *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="lastName" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Date Of Birth:
                              *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="date" formControlName="dateOfBirth" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Joining Date:
                              *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="date" formControlName="joiningDate" class="form-control">

                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Contact
                              Number:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="contactNo" class="form-control">
                            </div>
                          </div>

                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">User Name: *</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="email" class="form-control">
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Select
                              Location:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select formControlName="branchId" class="form-select">
                                <option value="">-----------Select------------------------ </option>
                                <option *ngFor="let branch of branches" value={{branch.branchId}}>{{branch.branchName}}</option>
                              </select>
                            </div>
                          </div>
                        
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Select Main
                              Department:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select class="form-select" formControlName="mainDepId" id="status">
                                <option value="">----------- Select Main Department----------- </option>
                                <option *ngFor="let mainDep of mainDeps" value={{mainDep.id}}>{{mainDep.mainDepName}}</option>                               
                              </select>
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label class="col-lg-4 col-4 control-label">Select
                              Department:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select class="form-select" formControlName="depId" id="status">
                                <option *ngFor="let dep of deps" value={{dep.departmentID}}>{{dep.departmentName}} </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label class="col-lg-4 col-4 control-label">Select Role
                              Name:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select formControlName="roleId" class="form-select">
                                <option value="">-----------Select------------------------ </option>
                                <option *ngFor="let role of roles" value={{role.roleId}}>{{role.roleName}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Select RM
                              Code:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select class="form-select" formControlName="rmCode" id="status">
                                <option value="">----------- Select Customer----------- </option>
                                <option value="HOT">HOT </option>
                                <option value="WARM">WARM </option>
                                <option value="COLD">COLD </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row mb-1">

                            <label class="col-lg-4 col-4 control-label">Assigned
                              Branches:*</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <select formControlName="assignedBranch" class="form-select">
                                <option value="">-----------Select------------------------ </option>
                                <option *ngFor="let branch of branches" value={{branch.branchName}}>{{branch.branchName}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row mb-1">

                            <label  class="col-lg-4 col-4 control-label">Profile UserId:
                              *:</label>
                            <div class="col-lg-8 col-md-8 col-8 ">
                              <input type="text" formControlName="profileUserId" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group row mb-1">
                          <label  class="col-lg-4 col-4  col-form-label mr-5">Select Photo: *</label>
                          <div class="col-8 mt-1">
                            <img [src]="url" alt="">
                            <input type="file" id="lname" (change)="onFileSelected($event)" name="lname">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="update()">Update</button>
                    </div>
                  </div>
                </div>
              </div>  

              </td> 
  
            </tr>
          </tbody>


        
        </table>


        


      
        <div class="d-flex justify-content-between p-2">
          <div class="dataTables_info mt-3" style="font-size: 14px;" id="branch_datatable_info" role="status"
            aria-live="polite">
            Showing {{(page - 1) * pageSize + 1}} to {{(page * pageSize < collectionSize) ? page * pageSize :
              pageSize}} of {{EmployeesList.length}} entries </div>
              <ngb-pagination [pageSize]="25" [collectionSize]="collectionSize" [(page)]="page"
                aria-label="Default pagination"></ngb-pagination>

          </div>

        </div>
      </div>
    </div>
  </div>

