<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Settings</a></li>
          <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>
      </nav>
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="page-header">
              <h1>
                Employee
              </h1>
            </div>

            <div>
              <button type="button" routerLink="/set/add-employee" class="btn btn-info mb-2" style="float: right;">
                Add Employee</button>
            </div>
          </div>
        </div>
        <div class="container  pb-2" style="border: 1px solid #8b98a1;">
          <!-- <div class="row"> -->

            <form [formGroup]="employeeForm" class=" col-md-12 col-sm-12 col-xs-12 mt-5">
              <div class="row">
                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0">
                  <label for="location">Select Location :</label>
                  <select formControlName="location" class="form-select">
                      <option value="" selected>----------- Select Location ----------</option>
                      <option *ngFor="let data of EmployeesList" [value]="data.branchName">{{ data.branchName }}
                      </option>
                  </select>
                </div>

              

                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                  <label for="maindepartment">Select Main Department :</label>
                  <select formControlName="maindepartment" class="form-select">
                      <option value="" selected>-- Select Main Department --</option>
                      <option *ngFor="let data of EmployeesList" [value]="data.branchName">{{ data.mainDepName }}
                      </option>
                  </select> </div>

                <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                  <!-- <div class="col-lg-3 col-12 m-3 m-lg-0 form-group"> -->
                    <label for="department">Select Department :</label>
                    <select formControlName="department" class="form-select">
                        <option value="" selected>---- Select Department ----</option>
                        <option *ngFor="let data of EmployeesList" [value]="data.branchName">{{ data.depName }}
                        </option>
                    </select>
                  <!-- </div> -->
                 </div>

                <div class="text-end" >
                  <button type="button" class="btn btn-info  m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i>
                    Submit</button>
              
                  <button type="button" class="btn canc m-lg-3 m-4">
                      <i class="ace-icon fa fa-undo bigger-110"></i>
                      Reset
                  </button>
              </div>
                
<!--                   
                <div class="col text-end">
                  <button type="button" class="btn btn-info m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i> Submit</button>
                  <button type="button" class="btn canc m-lg-3 m-4"><i class="ace-icon fa fa-undo bigger-110"></i> Reset</button>
              </div> -->
              </div>
              
               
            
            </form>
          <!-- </div> -->

          <!-- </div> -->

        </div>


        <table class="table table-bordered table-striped mt-5">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Emp Code</th>
              <th>Employee Name</th>
              <th>Contact No.</th>
              <th>Branch</th>
              <th>Department</th>
              <th>Role</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr
            *ngFor="let data of EmployeesList  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">
            <td>{{index+1}}</td>
            <td>{{data.empCode}}</td>
            <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
            <td>{{data.contactNo}}</td>
            <td>{{data.branchName}}</td>
            <td>{{data.mainDepName}} - {{data.depName}}</td>
            <td>{{data.roleName}}</td>
              <td>
                <button class="btn btn-xs" style="font-size: 13px; background-color:#003974!important; color: white;"
                  data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <i class="ace-icon fa fa-info bigger-120"></i>
                </button>&nbsp;&nbsp;
                <!-- <button class="btn btn-xs" style="font-size: 13px; background-color:#003974!important; color: white;" routerLink="/" >
                              <i class="ace-icon fa fa-pencil bigger-120"></i>
                          </button> -->

                <button class="btn btn-xs" style="font-size: 13px; background-color:#003974!important; color: white;"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>&nbsp;&nbsp;

                <button class="btn btn-xs" style=" font-size: 13px; background-color:#DC3545!important; color: white;"
                  (click)="delete()">
                  <!-- <i class="fa fa-trash"  aria-hidden="true"></i> -->
                  <i class="fa-solid fa-trash-can"></i>
                </button>


                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="row col-12 text-center">
                        <a class="navbar-brand " href="#">
                          <img src="assets\download.jfif" width="100" style="border-radius: 50%;">
                          <button class="btn"
                            style=" font-size: 13px; background-color:#DC3545!important; color: white;"
                            (click)="delete()">
                            <!-- <i class="fa fa-trash"  aria-hidden="true"></i> -->
                            <i class="fa-solid fa-trash-can"></i>
                          </button>
                        </a>


                      </div>

                      <div class="modal-body">
                        <table class="table table-bordered">
                          <tr
                            *ngFor="let data of dataarray  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">

                          <tr>
                            <th style="color: #393939;width: 30%;">Employee Code</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Employee Full Name</th>
                            <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Date Of Birth</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Joining Date.</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Contact No.</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">User Name</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Profile User Id.</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Branch</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">Department</th>
                            <td>{{data.empCode}}</td>
                          </tr>
                          <tr>
                            <th style="color: #393939;width: 30%;">RM Code</th>
                            <td>{{data.empCode}}</td>
                          </tr>

                        </table>



                      </div>

                    </div>
                  </div>
                </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- <div class="container box pb-2" > -->
                        <!-- <div class="row"> -->

                        <form [formGroup]="employeeForm1" class=" col-md-12 col-sm-12 col-xs-12 mt-2">
                          <div class="container">

                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Employee Id: *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="companyname" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Full Name:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="fullname" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Middle Name: *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="email" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Last Name: *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="constno" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Date Of Birth:
                                *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="date" formControlName="altconstno" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Joining Date:
                                *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="date" formControlName="companyname" class="form-control">

                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Contact
                                Number:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="city" class="form-control">
                              </div>
                            </div>

                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">User Name: *</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="pincode" class="form-control">
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Select
                                Location:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select formControlName="segment" class="form-select">
                                  <option value="">-----------Select------------------------ </option>
                                  <option *ngFor="let data of dataarray" [value]="data.branchName">{{
                                    data.branchName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <!-- <div class="col-md-6 col-sm-6 col-xs-12" >
        <div class="form-group">
          <label for="const" class="col-sm-4 control-label">Constitution of Company:</label>
          <div class="col-sm-8">
            <select class="form-control"  id="constitution" ng-model="tempCustomer.tempCustCmpConstitution" required>
                <option value="">-----------------------Select------------------------ </option>
                <option value="PROPRITER">PROPRITER </option>
                <option value="PARTNERSHIP">PARTNERSHIP</option>
                <option value="PVT.LTD.">PVT. LTD.</option>
                
             </select>
          </div>
        </div>
       </div> -->
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Select Main
                                Department:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select class="form-select" formControlName="mainitr" id="status">
                                  <option value="">----------- Select Main Department----------- </option>
                                  <option value="Distribution">Distribution</option>
                                  <option value="Support">Support </option>
                                  <option value="Central Processing Unit">Central Processing Unit</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Select
                                Department:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select class="form-select" formControlName="mainitr" id="status">
                                  <option value="">----------- Select Main Department----------- </option>
                                  <option value="Retail Branch Vertical">Retail Branch Vertical</option>
                                  <option value="Retail Sales Vertical">Retail Sales Vertical </option>
                                  <option value="Direct Sales Vertical">Direct Sales Vertical</option>
                                  <option value="Alternate Sales Vertical">Alternate Sales Vertical</option>
                                  <option value="DSA-Vertical">DSA-Vertical</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Select Role
                                Name:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select formControlName="segment" class="form-select">
                                  <option value="">-----------Select------------------------ </option>
                                  <option *ngFor="let data of dataarray" [value]="data.branchName">{{
                                    data.branchName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Select RM
                                Code:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select class="form-select" formControlName="leadtype" id="status">
                                  <option value="">----------- Select Customer----------- </option>
                                  <option value="R1">R1 </option>
                                  <option value="R2">R2 </option>
                                  <option value="R3">R3 </option>
                                  <option value="R4">R4 </option>
                                  <option value="NULL">NULL </option>
                                  <!-- <option value="Tech Support">Tech Support</option> -->
                                </select>
                              </div>
                            </div>
                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Assigned
                                Branches:*</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <select formControlName="segment" class="form-select">
                                  <option value="">-----------Select------------------------ </option>
                                  <option *ngFor="let data of dataarray" [value]="data.branchName">{{
                                    data.branchName }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row mb-1">

                              <label for="complianceDueDate" class="col-lg-4 col-4 control-label">Profile UserId:
                                *:</label>
                              <div class="col-lg-8 col-md-8 col-8 ">
                                <input type="text" formControlName="city" class="form-control">
                              </div>
                            </div>
                          </div>

                          <div class="form-group row mb-1">
                            <label for="pincode" class="col-lg-4 col-4  col-form-label mr-5">Select Photo: *</label>
                            <div class="col-8 mt-1">
                              <input type="file" id="lname" name="lname">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <div class="dataTables_info mt-3" style="font-size: 14px;" id="branch_datatable_info" role="status"
            aria-live="polite">
            Showing {{(page - 1) * pageSize + 1}} to {{(page * pageSize < collectionSize) ? page * pageSize :
              collectionSize}} of {{dataarray.length}} entries </div>
              <ngb-pagination [pageSize]="25" [collectionSize]="collectionSize" [(page)]="page"
                aria-label="Default pagination"></ngb-pagination>

          </div>

        </div>
      </div>
    </div>
  </div>