<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
          </li>
          <!-- <li class="breadcrumb-item"><a href="#">Settings</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">All Transactions</li>
        </ol>
      </nav>
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="page-header">
              <h1>
                All Transactions
              </h1>
            </div>


            
          <div class="container pb-2" style="border: 1px solid #8b98a1;">
            <!-- <div class="row"> -->

              <form [formGroup]="transactionForm" class=" col-md-12 col-sm-12 col-xs-12 mt-5">
                <div class="row">
                  <div class="col-lg-2 col-md-10 col-11 m-3 m-lg-0">
                    <label for="location">Select Branch :</label>
                    <select formControlName="branch" class="form-select ">

                      <option value="">---Select Status---</option>
                      <option *ngFor="let branch of branches" value={{branch.branchName}}>{{branch.branchName}}</option>

                    </select>
                  </div>

                

                  <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                    <label for="department">From Date</label>
                    <input type="date" formControlName="fromDate" class="form-control">
                  </div>

                  <div class="col-lg-3 col-md-10 col-11 m-3 m-lg-0 form-group">
                    <label for="department">To Date</label>
                    <input type="date" formControlName="toDate" class="form-control">
                  </div>

                  <div class="text-end" >
                    <button type="button" class="btn btn-info  m-lg-3 m-4" (click)="onSubmit()"><i class="ace-icon fa fa-check bigger-110"></i>
                      Submit</button>
                
                    <button type="reset" class="btn canc m-lg-3 m-4">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
                  
<!--                   
                  <div class="col text-end">
                    <button type="button" class="btn btn-info m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i> Submit</button>
                    <button type="button" class="btn canc m-lg-3 m-4"><i class="ace-icon fa fa-undo bigger-110"></i> Reset</button>
                </div> -->
                </div>
                
                 
              
              </form>

          </div>


           
          <div class="container " *ngIf="showtable">
            <div class="row">
              <div class="col">
                
                <div id="branch_datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="row" style="margin-top: 7%;">
                    <div class="col-lg-9 col-md-8">
                      <div class="dataTables_length" id="branch_datatable_length">
                        <p>Show
                          <select name="branch_datatable_length" (ngModelChange)="refreshCountries()" [(ngModel)]="pageSize"
                            aria-controls="branch_datatable">
                            <!-- [(ngModel)]="resultsPerPage" -->
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                          </select> entries
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <div class="dataTables_filter" id="branch_datatable_filter">
                        <p>Search:
                          <input type="text" [(ngModel)]="SearchText" (input)="applyFilter()" placeholder=""
                            aria-controls="branch_datatable">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th>Transaction ID</th>
                      <th>Invoice Id</th>
                      <th>Company Name</th>
                      <th>Transaction Date</th>
                      <th>Amount</th>
                      <th>Payment Mode</th>
                      <th>Description</th>
                        <!-- <th scope="col" width="10%" class="sorting" tabindex="0" aria-controls="branch_datatable" rowspan="1"
                        colspan="1" aria-label="Branch Address: activate to sort column ascending" style="width: 149px;">
                        Status</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                    *ngFor="let data of AllTransactionList  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">
                    <td>{{index+1}}</td>
                     <td>{{data.transactionId}}</td>
                    <td>{{data.invoiceId}}</td>
                    <td>{{data.CompanyName}}</td>
                    <td>{{data.transactionDate}}</td>
                    <td>{{data.amount}}</td>
                    <td>{{data.paymentMode}}</td> 
                    <td>{{data.description}}</td> 
                     
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <div class="dataTables_info mt-3" style="font-size: 14px;" id="branch_datatable_info" role="status"
                    aria-live="polite">
                    Showing {{(page - 1) * pageSize + 1}} to {{(page * pageSize < collectionSize) ? page * pageSize :
                      pageSize}} of {{AllTransactionList.length}} entries </div>
                       <ngb-pagination
                       [collectionSize]="collectionSize"
                       [(page)]="page"
                       [pageSize]="pageSize"
                       (pageChange)="refreshCountries()"
                     >
                     </ngb-pagination>
                  </div>
                </div>
              </div>
            </div>
      
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>