<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">Daily Lead</li>
                </ol>
            </nav>
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <h1>
                                Daily Lead
                            </h1>
                        </div>
                        <div>
                            <button type="button" routerLink="/alldailyleads" class="btn btn-info"
                                style="float: right;">
                                View All Daily Lead</button>
                        </div>


                        <div class="col-md-12 col-sm-12 col-xs-12 box">
                            <div class="nav-tabs-custom" >
                                <ul class="nav nav-tabs" >
                                    <!-- <li class="active"><a aria-expanded="true" href="#tab1" data-toggle="tab"
                                           >All Visits</a></li>
                                    <li class="" ><a aria-expanded="false" href="#tab2"
                                            data-toggle="tab">Add Visit Details</a></li> -->

                                            <li [class.active]="activeTab === 'tab1'"><a (click)="changeTab('tab1')" > All
                                                Leads</a></li>
                                            <li [class.active]="activeTab === 'tab2'"><a (click)="changeTab('tab2')">Add Lead Details</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" [class.active]="activeTab === 'tab1'" id="tab1">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Sr.No</th>
                                                    <th width="15%">Date</th>
                                                    <th width="60%">Description</th>
                                                    <th width="15%">Next Visit Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of dataarray ,let index = index ">
                                                <td>{{index+1}}</td>
                                               
                                                <td>{{data.branchname}}</td>
                                                <td>{{data.branchcode}}</td>
                                                
                                                <td>{{data.branchcity}}</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="tab-pane mt-5" [class.active]="activeTab === 'tab2'" id="tab2"  >
                                        <form class="form-horizontal"[formGroup]="employeeForm">
                                          

                                            <div class="form-group row mb-3">
                                                <label for="complianceDueDate" class="col-lg-2 col-4 col-form-label">Visit Date:</label>
                                                <div class="col-lg-4 col-8">
                                                    <input type="date" formControlName="complianceDueDate" class="form-control"
                                                        id="complianceDueDate">
                                                </div>


                                                <label for="address" class="col-lg-1 col-4   col-form-label mr-5">Description</label>
                                                <div class="col-lg-4 col-8">
                                                    <!-- <div class="col-sm-8"> -->
                                                        <textarea class="form-control" id="address" rows="3" formControlName="address"
                                                            required> </textarea>
                                                    <!-- </div> -->
                                                </div>
                                                <!-- <label for="taxLink" class="col-lg-1 col-4 col-form-label ml-2" >Status :</label>
                                                <div class="col-lg-4 col-8">
                                                    <select formControlName="product" class="form-select">
                                                        <option value="" selected>----------- Select Location ----------</option>
                                                        <option value="INTERESTED">INTERESTED </option>
                                                        <option value="NOT INTERESTED">NOT INTERESTED </option>
                                                    </select>
                                                </div> -->
                                            </div>

                                                <div class="form-group row">
                                                    <label for="address" class="col-lg-2 col-4 col-form-label">Is Next Date:</label>
                                                    <div class="col-lg-4 col-8" >
                                                        <input type="checkbox" id="isVisited1"
                                                            ng-model="dailyVisit.isVisited" />
                                                    </div>
                                                <label for="complianceDueDate" class="col-lg-1 col-4 col-form-label ml-2">Visit Date:</label>
                                                <div class="col-lg-4 col-8">
                                                    <input type="date" formControlName="complianceDueDate" class="form-control"
                                                        id="complianceDueDate">
                                                </div>
                                            </div>

                                          

                                            <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p><b>Note : </b>Once you select status INTERESTED then this customer
                                                    comes in Lead.</p>
                                            </div> -->

                                            <!-- <div class="form-group">
                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                    <input type="submit" class="btn btn-info" ng-click="saveVisit()"
                                                        style="margin-right: 10px;">
                                                </div>
                                            </div> -->
                                            <!-- <div style="float: right;" >
                                                <button type="button" class="btn btn-info m-lg-4 m-4"><i class="ace-icon fa fa-check bigger-110"></i>
                                                  Submit</button>
                                            
                                                <button type="button" class="btn canc m-lg-4 m-4">
                                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                                    Reset
                                                </button>
                                            </div> -->
                                            
                                <div class="form-group" >
                                    <div class="col-md-11 col-sm-11 col-xs-11" >
                                        <input type="submit" class="btn btn-info m-lg-4 m-4" ng-click="saveVisit()"
                                            style="margin-right: 10px;">
                                    
                                    <button type="button" class="btn canc m-lg-4 m-4">
                                        Cancel
                                    </button>
                                </div>
                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>