.logo img {
    width: 131px !important;
    height: 57px !important;
    vertical-align: middle;
  }
  
  h1,
  h2,
  h3,
  h4,
  h6,
  a,
  p,
  button {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; */
    font-family: Comfortaa, 'Source Sans Pro' !important;
  }
  
  span,
  p {
    font-size: 14px !important;
  }
  
  h3 {
    font-size: 1.75rem !important;
  }
  
  h6 {
    font-size: 18px !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: #0a5386 !important
  }
  
  button,
  .sbmit,
  .btn {
    background-color: #3BB161 !important;
    color: #ffffff !important;
    border-radius: 20px !important;
  }
  
  button:hover,
  .sbmit:hover {
    background-color: #0a5386 !important;
    color: #ffffff !important;
  }
  
  button a {
    color: #ffffff !important;
  }
  
  .auto-group-ccz5-2gZ {
    margin: 1rem 1.4rem 1rem 0rem;
    width: 123px;
    height: calc(100% - 2rem);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    font-family: Comfortaa, 'Source Sans Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    border-radius: 14rem;
    flex-shrink: 0;
  }
  
  .auto-group-jzpx-ebT {
    margin: 1rem 3.9rem 1rem 0rem;
    width: 165px;
    height: calc(100% - 2rem);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    font-family: Comfortaa, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004c8c;
    border-radius: 14rem;
    flex-shrink: 0;
  }
  
  .group-44-bf7 {
    /* width: 34.71px;
    height: 24.768px;
    object-fit: contain;
    vertical-align: middle;
    flex-shrink: 0; */
    display: none;
  }
  
  @media(max-width:990px) {
  
    .auto-group-jzpx-ebT,
    .auto-group-ccz5-2gZ {
        display: none !important;
    }
    .group-44-bf7{
        display: block;
    }
    .row.border .col-md-10,
    .row.border .col-sm-8,
    .row.border .col-xs-10,
    .row.border .col-md-2,
    .row.border .col-sm-4,
    .row.border .col-xs-2 {
        position: relative;
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }
  }
  
  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  line-height: 2;
  font-weight: 700!important;
  }
  body{
        font-family: Comfortaa, 'Source Sans Pro'!important;
    }
  h1,h2,h3,h4,h5,h6,p{
    font-family: Comfortaa, 'Source Sans Pro'!important;
  }
  
  
    .dropdown-menu {
        background-color:  #0f75bc!important;
        color: #ffffff !important;
        font-size: 13px !important;
        font-weight: 700!important
    }
  
    .dropdown-item:hover,.nav-item:hover {
        background-color: #39b54a!important;
        color: #ffffff !important;
    }
  
    .dropdown-menu a {
        color: #ffffff !important;
    }
  
    /* @media(min-width:1200px){
    .dropdown:hover .dropdown-menu {
        display: block;
    }
  } */
  
    .elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button,
    .elementor-kit-275 .elementor-button {
        background-color: none !important;
    }
  
    ul{
        font-size: 16.2px!important;font-weight: 500!important
    }
    .navbar-expand-none .navbar-nav .nav-link {
  padding-right: 5px;
  padding-left:5px;
  }
  @media(max-width:1285px) {
  .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  }
  .elementor-button{
  font-size:15px!important;
    }
  }
    @media(max-width:1199px) {
        .contact-info{
            display: none !important;
        }
        
  .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  }
    }
    @media(max-width:991px) {
    .navbar-collapse{
        background-color: #004c8c!important;
        color:#fff!important;
    }
    
    a {
        color: #ffffff;
    }
    .nav-item{
        border-bottom: 2px solid #39b54a;
    }
    .dropdown-menu{
        border-top: 2px solid #39b54a!important;
    }
  }
  .dropdown-item{
    font-weight: 700!important;
  }
  .elementor-button{
        padding:8px 24px;
        font-size:18px;
    }
  @media(max-width:1308px) {
    .elementor-button{
        padding:8px 12px;
    }
  }
  .elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button .elementor-align-icon-left {
  margin-right: 5px;
  }            
  .dropdown-menu a:not(:last-child) {
  border-style: solid;
  border-color:#1399f6;
  border-bottom-width: 1px;
  }
  
  
  /* Custom CSS */
  body {
    background: linear-gradient(180deg, rgba(0, 76, 140, 0.1000000015) -0%, rgba(0, 76, 140, 0.1000000015) 100%);
  }
  
  @media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
  }
  
  .logo img {
    width: 109px;
  }
  
  .custom-form {
    border-radius: 20px !important;
    padding: 30px 70px;
    text-align: right;
    font-size: 14px;
    max-width: 420px !important;
    width: 420px;
    height: max-content;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  @media(max-width:991px) {
    .custom-form {
        height: max-content;
    }
  }
  
  .custom-form input {
    border-radius: 10px;
  }
  
  @media(min-width:768px) and (max-width:991px) {
    .custom-form {
        padding: 18.92px 32px 0 32px;
    }
  }
  
  @media(max-width:765px) {
    .card img {
        width: 120px !important;
    }
  
    .custom-form {
        width: 439px !important;
    }
  }
  
  .card {
    box-sizing: border-box;
    padding: 13px 27px 31px 28px;
    max-width: 175px !important;
    max-height: 187px !important;
    width: 100%;
    height: 187px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }
  
  .row1 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    align-items: flex-end;
  }
  
  .custom-heading {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  @media(max-width:575px) {
    .card {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 575px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
  
    .wrapper div:first-child {
        order: 1;
    }
  
    .custom-form {
        width: 90% !important;
    }
  
    .card {
        margin-bottom: 5%;
    }
  }
  
  .card img {
    max-height: 300px;
    margin: 5px auto;
    width: 120px;
  }
  
  
  
  .form-control,
  button {
    width: 100%;
    font-size: 14px;
  }
  
  
  .card-body {
    padding: 5px;
  }
  
  .card-body h4 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 10px !important;
  }
  
  .card-text {
    font-size: 12px !important;
    font-weight: 700px !important;
    text-align: center
  }
  
  @media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 100%;
    }
  }
  
  .owl-carousel .owl-item img {
    width: 120px;
    height: 91px;
  }
  
  .owl-stage-outer {
    height: auto !important;
  }
  
  .owl-stage {
    width: 100%;
  }
  
  @media(max-width:575px) {
    .owl-stage .owl-item {
        max-width: 175px;
        width: 100%;
    }
  }
  
  .owl-carousel button.owl-dot {
    display: none;
  }
  
  .get-otp {
    display: inline-flex !important;
    justify-content: space-between;
    align-items: center;
  }