
<!-- <div class="main-content-inner ng-scope" ng-controller="techSupportController"> -->
    <!-- <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Tech Support</li>
        </ul>
    </div> -->
    <div class="container-fluid">
        <div class="row">
          <div class="col">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
          </li>
          <!-- <li class="breadcrumb-item"><a href="#">Settings</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">Tech Support</li>
        </ol>
      </nav>
    <!-- <div class="page-content"> -->
        <!-- <div class="page-header">
            <h1>
                Tech Support
            </h1>
        </div> -->


        <div class="container ">
            <div class="row">
              <div class="col">
                <div class="page-header">
                  <h1>
                      Tech Support
                  </h1>
                </div>
                <div>
                <button type="button" routerLink="/set/alltechsupport" class="btn btn-info p-2" style="float: right;">
                    View Tickets</button>
                </div>
                <div class="box">
                   <div class="row col-lg-11 col-md-12 col-12"   id="techSuppInfo">
                    <div class="col-lg-10 col-md-12 col-sm-9 col-xs-9 p-2" >
                            <h6>Subject : </h6>
                            <p class="ng-binding" formControlName="subject" >{{data1.subject}}
                            </p>
                    </div>
                  

                    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3" formControlName="date" id="techDate">
                         <p>Date :{{data1.date}} </p>
                    </div>
                </div>
                <h4 class="col-md-8 col-sm-8 col-xs-8 mt-3">All Replay's :</h4>
                <!-- <div id="reply_user" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                ng-repeat="rply in techSupportReplayData"> -->
                <div class="row col-lg-11 col-md-12 col-12" id="reply_user"
                *ngFor="let data of data2">
                    <div class="col-lg-10 col-md-12 col-sm-9 col-xs-9 p-2">
                        <p class="ng-binding">Replay By
                            &nbsp;&nbsp;:&nbsp;&nbsp;{{data.replyBy}}</p>
              
                    </div>
                  

                    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3" id="techDate">
                         <p>Date :&nbsp;&nbsp;{{data.date}} </p>
                    </div>
                    <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                        <p class="ng-binding">{{data.reply}} </p>
                    </div>
                </div>

           
<h4 class="col-md-8 col-sm-8 col-xs-8" style="margin-top:40px;">Add Replay:</h4>
<div id="add_replay" class="col-lg-11 col-md-12 col-12">
    <form  [formGroup]="techSupport" class="form-horizontal ng-pristine ng-valid" method="post">
        <!-- <p>ID : {{replay.ticketId}} name : {{replay.reply}}</p> -->
        <input class="form-control ng-pristine ng-untouched ng-valid"
            ng-model="techSupportReplay.ticketId" style="display:none">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <textarea class="form-control ng-pristine ng-untouched ng-valid" formControlName="reply" [(ngModel)]="replay.reply" path="reply"
                     rows="5"></textarea>
            </div>
        </div>
        <div class="mb-5 p-4 " style="float: right;">
            <button type="button"  class="btn btn-info "
                style="margin-right: 10px;" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn bg-navy canc">Cancel</button>
        </div>

    </form>
</div>



            </div>

                </div>
                </div>
                </div>
                

<!-- <div class="container">
        <div class="row">
           
                   
                    <div>
                        <div id="techSuppInfo" class="col-md-10 col-sm-10 col-xs-10 " style="margin-left: 30px;">
                            <div class="col-md-9 col-sm-9 col-xs-9 ">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <p>Subject </p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <p class="ng-binding">&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quisque
                                        lobortis purus vel sollicitudin malesuada. Fusce ornare, elit vel porta tempus,
                                        arcu lacus sagittis arcu, nec elementum massa arcu a est. Curabitur euismod arcu
                                        id urna convallis, ut tincidunt lectus euismod
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" id="techDate">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p>Date </p>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p class="ng-binding">:&nbsp;&nbsp;2017-05-13</p>
                                </div>
                            </div>
                        </div>

                        <h4 class="col-md-8 col-sm-8 col-xs-8 mt-3">All Replay's :</h4>

                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By
                                            &nbsp;&nbsp;:&nbsp;&nbsp;anjuman.mulani@ibgfincon.com</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-13</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">Mauris malesuada turpis odio. Morbi ac libero sapien. Vivamus
                                        et lobortis libero. Maecenas dictum bibendum nulla a mollis. Vivamus nec elit
                                        finibus mi tristique imperdiet. Suspendisse ligula arcu, congue in posuere nec,
                                        eleifend ac tortor. Vivamus viverra sem vitae nisi fringilla interdum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By &nbsp;&nbsp;:&nbsp;&nbsp;admin</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-13</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">Vestibulum ante ipsum primis in faucibus orci luctus et
                                        ultrices posuere cubilia Curae; Donec egestas lorem eu sollicitudin vehicula.
                                        Curabitur eros eros, tempor et dolor sit amet, placerat tristique turpis.
                                        Vestibulum vehicula sollicitudin lectus non dapibus. Pellentesque lobortis orci
                                        non risus vulputate, in malesuada magna varius.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By
                                            &nbsp;&nbsp;:&nbsp;&nbsp;anjuman.mulani@ibgfincon.com</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-13</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">um ligula. Etiam condimentum dapibus lectus a aliquam.
                                        Maecenas cursus eleifend neque vel viverra. Nam eu venenatis elit. Nullam
                                        egestas tincidunt turpis, at maximus turpis gravida vitae. Vestibulum
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By &nbsp;&nbsp;:&nbsp;&nbsp;admin</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-15</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">Etiam condimentum dapibus lectus a aliquam. Maecenas cursus
                                        eleifend neque vel viverra. Nam eu venenatis elit. Nullam egestas tincidunt
                                        turpis, at maximus turpis gravida vitae. Vestibulum
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By &nbsp;&nbsp;:&nbsp;&nbsp;admin</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-16</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">gd gjgdjgfjs gudg hgsdystdusyd gdysdyusy suytdy dyusdts dds
                                        ddyudty y dsuytusdy duyd ud dd dyu dd dusd
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="view_replay" class="col-md-10 col-sm-10 col-xs-10 ng-scope"
                            ng-repeat="rply in techSupportReplayData">


                            <div id="reply_user" class="col-md-12 col-sm-12 col-xs-12">
                                <div id="replay_info">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <p class="ng-binding">Replay By &nbsp;&nbsp;:&nbsp;&nbsp;admin</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <p class="ng-binding"> Date &nbsp;&nbsp;:&nbsp;&nbsp;2017-05-17</p>
                                    </div>
                                </div>
                                <div id="replay" class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ng-binding">fg fdgfg dfgdfg
                                    </p>
                                </div>
                            </div>
                        </div>

                        <h4 class="col-md-8 col-sm-8 col-xs-8" style="margin-top:40px;">Add Replay :</h4>
                        <div id="add_replay" class="col-md-10 col-sm-10 col-xs-10">
                            <form class="form-horizontal ng-pristine ng-valid" method="post">
                                <input class="form-control ng-pristine ng-untouched ng-valid"
                                    ng-model="techSupportReplay.ticketId" style="display:none">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control ng-pristine ng-untouched ng-valid" path="replay"
                                            ng-model="techSupportReplay.replay" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="mb-5 p-4 " style="float: right;">
                                    <button type="button"  class="btn btn-info "
                                        style="margin-right: 10px;">Submit</button>
                                    <button type="button" ng-click="clear1()" class="btn bg-navy canc">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>
              
        </div>
</div>
    
</div>
</div>
</div> -->