<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Branch</li>
                </ol>
            </nav>
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <h1>
                                Branch
                            </h1>
                        </div>
                    </div>
                </div>
                <button type="button" routerLink="/set/branch" class="btn btn-info" style="float: right;">View
                    Branch</button>
            </div>

            <form [formGroup]="viewbranchForm" class="col-md-12 col-sm-12 col-xs-12 mt-5">

                <div class="form-group row">
                    <label for="companyname" class="col-lg-2 col-4   col-form-label mr-5">Branch Name:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="companyname" class="form-control"
                            id="complianceName">
                    </div>
                    <label for="constofcompany" class="col-lg-2 col-4 col-form-label ml-2">Branch Classification:</label>
                    <div class="col-lg-4 col-8">
                        <select formControlName="constofcompany" class="form-select">
                            <option value="">-----------------------Select------------------------ </option>
                            <option value="PROPRITER">Rubal </option>
                            <option value="PARTNERSHIP">Urban</option>
                            <option value="PVT.LTD.">Semi-Urban</option>
                            <option value="PVT.LTD.">Metro</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-lg-2 col-4   col-form-label mr-5">Branch Code:</label>
                    <div class="col-lg-4 col-8">
                        <input type="email" formControlName="email" class="form-control"
                            id="complianceName">
                    </div>
                    <label for="contactno" class="col-lg-2 col-4   col-form-label mr-5">Branch City:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="contactno" class="form-control"
                            id="complianceName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="altcontactno" class="col-lg-2 col-4   col-form-label mr-5">Branch Area:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="altcontactno" class="form-control"
                            id="complianceName">
                    </div>
                    <label for="address" class="col-lg-2 col-4   col-form-label mr-5">Branch Address:</label>
                    <div class="col-lg-4 col-8">
                        <!-- <div class="col-sm-8"> -->
                        <textarea class="form-control" id="address" rows="3" formControlName="address"
                            required> </textarea>
                        <!-- </div> -->
                    </div>
                </div>

                <div class="form-group row">
                    <label for="city" class="col-lg-2 col-4   col-form-label mr-5">Latitude:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="city" class="form-control" id="complianceName">
                    </div>
                    <!-- <label for="taxLink" class="col-lg-2 col-4 col-form-label ml-2" >Tax Link  :</label> -->
                    <label for="pincode" class="col-lg-2 col-4   col-form-label mr-5">Longitude:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="pincode" class="form-control"
                            id="complianceName">
                    </div>
                
                </div>
                <div class="text-center mt-3">
                    <!-- <div class="col-sm-offset-3 col-md-9"> -->
                        <button type="button" class="btn btn-info  m-lg-4 m-4"><i class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                         <button type="button" class="btn canc m-lg-4 m-4">
                              <i class="ace-icon fa fa-undo bigger-110"></i>
                              Cancel    
                          </button>
                    <!-- </div> -->
        
        
                    <!-- <div class="text-end">
                      <button type="button" class="btn btn-info m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i> Submit</button>
                      <button type="button" class="btn canc m-lg-3 m-4"><i class="ace-icon fa fa-undo bigger-110"></i> Reset</button>
                  </div> -->
        
                </div>
            </form>
        </div>
    </div>
</div>




<!-- 
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" >
            <li class="breadcrumb-item">
              <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Branch</li>
          </ol>
        </nav>
        <div class="container ">
          <div class="row">
            <div class="col">
              <div class="page-header">
                <h1>
                    Compliance
                </h1>
              </div>
                           
             
            </div>
          </div>
        </div>
      </div>
    </div> -->