<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Settings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Other Services</li>
                </ol>
            </nav>
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <h1>
                                Other Services
                            </h1>
                        </div>
                    </div>
                </div>
                <button type="button" routerLink="/set/otherservices" class="btn btn-info" style="float: right;">View Other Service</button>
            </div>

            <form [formGroup]="complianceForm" class="col-md-12 col-sm-12 col-xs-12 mt-5">

                <div class="form-group row mb-2 text-end">
                    <label for="companyname" class="col-lg-2 col-4   col-form-label mr-5 mb-2">Service Name:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="companyname" class="form-control"
                            id="complianceName">
                    </div>
                    <label for="fullname" class="col-lg-2 col-4   col-form-label mr-5">Description:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="fullname" class="form-control"
                            id="complianceName">
                    </div>
                </div>
                <div class="form-group row mb-3 text-end">
                    <label for="complianceName" class="col-lg-2 col-4   col-form-label mr-5">Fees:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="complianceName" class="form-control" id="complianceName">
                    </div>
                    <!-- <label for="taxLink" class="col-lg-1 col-4 col-form-label ml-2" >Fees:</label>
                    <div class="col-lg-4 col-8">
                        <input type="text" formControlName="complianceName" class="form-control" id="complianceName">
                    </div> -->
                </div>
                
               
                <div class="text-center mt-3">
                    <!-- <div class="col-sm-offset-3 col-md-9"> -->
                        <button type="button" class="btn btn-info  m-lg-4 m-4"><i class="ace-icon fa fa-check bigger-110"></i>
                            Save</button>
                         <button type="button" class="btn canc m-lg-4 m-4">
                              <i class="ace-icon fa fa-undo bigger-110"></i>
                              Cancel    
                          </button>
                    <!-- </div> -->
        
        
                    <!-- <div class="text-end">
                      <button type="button" class="btn btn-info m-lg-3 m-4"><i class="ace-icon fa fa-check bigger-110"></i> Submit</button>
                      <button type="button" class="btn canc m-lg-3 m-4"><i class="ace-icon fa fa-undo bigger-110"></i> Reset</button>
                  </div> -->
        
                </div>
            </form>
        </div>
    </div>
</div>




<!-- 
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" >
            <li class="breadcrumb-item">
              <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px;"></i><a href="#">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Branch</li>
          </ol>
        </nav>
        <div class="container ">
          <div class="row">
            <div class="col">
              <div class="page-header">
                <h1>
                    Compliance
                </h1>
              </div>
                           
             
            </div>
          </div>
        </div>
      </div>
    </div> -->